<h1> Galpão <%= @warehouse["code"] %> - <%= @warehouse["name"] %> </h1>
<ul>
  <li><%= @warehouse["city"] %></li>
  <li><%= @warehouse["area"] %> m2</li>
  <li><%= @warehouse["address"] %> - CEP <%= @warehouse["cep"]%> </li>
  <li><%= @warehouse["description"] %></li>
</ul>